@using KH_Capstone.Models
@model ItemVM
@{
    ViewBag.Title = "CreateItem";
}

<h2>Create new item:</h2>

@using (Html.BeginForm("CreateItem", "Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(model => Model.Item.Name)
    <div>
        @Html.TextBoxFor(model => Model.Item.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.Item.Name, "", new { @style = "color:red;" })
    </div>
    @Html.LabelFor(model => Model.Item.Description)
    <div>
        @Html.TextBoxFor(model => Model.Item.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.Item.Description, "", new { @style = "color:red;" })
    </div>

    @Html.LabelFor(model => Model.Item.Purchasable)
    <div>
        @Html.CheckBoxFor(model => Model.Item.Purchasable, new { @style = "height: 27px; width: 27px;" })
    </div>
    @Html.TextBoxFor(model => Model.File, new { type = "file" })
    <br />
    <input type="submit" value="Create" class="btn btn-success" />
}

