@using KH_Capstone.Models
@model ItemVM
@{
    ViewBag.Title = "UpdateItem";
}

<h2>Update @Model.Item.Name</h2>

@using (Html.BeginForm("UpdateItem", "Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => Model.Item.ItemID)
    @Html.HiddenFor(model => Model.Item.ImagePath)
    <div>
        <img src="@Url.Content(Model.Item.ImagePath)" alt="@Model.Item.Name" height="150" width="150"/>
    </div>

    @Html.LabelFor(model => Model.Item.Name)
    <div>
        @Html.TextBoxFor(model => Model.Item.Name, new { @class = "form-control" })
    </div>
    <br />

    @Html.LabelFor(model => Model.Item.Description)
    <div>
        @Html.TextBoxFor(model => Model.Item.Description, new { @class = "form-control" })
    </div>
    <br />
    @Html.TextBoxFor(model => Model.File, new { type = "file" })
    <br />

    @Html.LabelFor(model => Model.Item.Purchasable, new { @class = "control-label col-md-2" })
    <div>
        @Html.CheckBoxFor(model => Model.Item.Purchasable, new { @style = "heigh:18px; width:18px;", @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.Item.Purchasable, "", new { @style = "color:red" })
    </div>

    @Html.LabelFor(model => Model.Item.Validated, new { @class = "control-label col-md-2" })
    <div>
        @Html.CheckBoxFor(model => Model.Item.Validated, new { @style = "heigh:18px; width:18px;", @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.Item.Validated, "", new { @style = "color:red" })
    </div>
    <br />

    <input type="submit" value="Update" class="btn btn-success" />
}

