@using KH_Capstone.Models
@model List<ItemPO>
@{
    ViewBag.Title = "Index";
}

<h2>Item List</h2>

<table class="table" style="background-color: cadetblue;">
    <tbody>
        @foreach (ItemPO item in Model)
        {
            if (item.Validated == false)
            {
                <tr>
                    <td rowspan="2" style="width:150px" ;>
                        <img src="@Url.Content(item.ImagePath)" alt="@item.Name" height="150" width="150" />
                    </td>
                    <td>
                        <text style="color:black;">Name: </text>
                        @item.Name
                    </td>
                    <td>
                        <text>This item </text>
                        @if (item.Purchasable)
                        {
                            <span style="color:black;">can</span>
                        }
                        else
                        {
                            <span style="color:red;">cannot</span>
                        }
                        <text> be purchased in shops</text>
                    </td>
                    @if (Session["RoleName"].ToString() == "Mod" || Session["RoleName"].ToString() == "Admin")
                    {
                        <td style="text-align:right;">
                            @Html.ActionLink("Update", "UpdateItem", "Item", new { id = item.ItemID }, new { @class = "btn btn-success" })
                        </td>
                    }
                </tr>
                <tr>
                    @if (Session["RoleName"].ToString() == "Admin")
                    {
                        <td colspan="2">
                            <text style="color:black;">Description: </text>
                            @item.Description
                        </td>
                        <td style="text-align:right;">
                            @Html.ActionLink("Delete", "DeleteItem", "Item", new { id = item.ItemID }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you wish to delete this item?');" })
                        </td>
                    }
                    else
                    {
                        <td colspan="3">
                            <text style="color:black;">Description: </text>
                            @item.Description
                        </td>
                    }
                </tr>
                <tr style="background-color:darkslategray">
                    <td colspan="4"></td>
                </tr>
            }
        }
    </tbody>
</table>

