@using KH_Capstone.Models
@model ItemDrop
@{
    ViewBag.Title = "ViewItem";
}

<table class="table">
    <tbody style="background-color:cadetblue">
        <tr>
            <td rowspan="2" style="width:150px">
                <img src="@Url.Content(Model.item.ImagePath)" alt="@Model.item.ImagePath" height="150" width="150" />
            </td>
            <td>
                <text style="color:black;">Name: </text>
                @Model.item.Name
            </td>
            <td>
                <text>Shops</text>
                @if (Model.item.Purchasable)
                {
                    <span style="color:black;"><b> sell </b></span>
                }
                else
                {
                    <span style="color:red;"><b> do not sell </b></span>
                }
                <text>this item</text>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <text style="color:black;">Description: </text>
                @Model.item.Description
            </td>
        </tr>
    </tbody>
</table>
<br />

<table class="table">
    <tbody style="background-color:cadetblue">
        @foreach (EnemyPO enemy in Model.enemies)
        {
            <tr>
                <td rowspan="2" style="width:150px">
                    <img src="@Url.Content(enemy.ImagePath)" alt="@enemy.Name" height="150" width="150" />
                </td>
                <td>
                    <text style="color:black;">Name: </text>
                    @Html.ActionLink(enemy.Name,"ViewEnemy","Enemy", new { id = enemy.EnemyID },new { @style = "color:lightcyan; text-decoration:underline;" })
                </td>
                <td>
                    <text style="color:black;">Location: </text>
                    @enemy.Location
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @enemy.Description
                </td>
            </tr>
            <tr style="background-color:darkslategray">
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>