@using KH_Capstone.Models
@model List<ItemPO>
@{
    ViewBag.Title = "Index";
}

<h2>Item List</h2>

<table class="table" style="background-color: cadetblue;">
    <tbody>
        @foreach (ItemPO item in Model)
        {
            if (item.Validated == false)
            {
                <tr>
                    <td rowspan="2" style="width:150px";>
                        <img src="@Url.Content(item.ImagePath)" alt="@item.Name" height="150" width="150" />
                    </td>
                    <td>
                        <text style="color:black;">Name: </text>
                        @item.Name
                    </td>
                    @if (Session["RoleName"].ToString() == "Mod" ||Session["RoleName"].ToString() == "Admin")
                    {
                        <td>
                            @Html.ActionLink("Update", "UpdateItem", "Item", new { id = item.ItemID }, new { @class = "btn btn-success" })
                        </td>
                    }
                </tr>
                <tr>
                    <td>
                        <text style="color:black;">Description: </text>
                        @item.Description
                    </td>
                    @if (Session["RoleName"].ToString() == "Admin")
                    {
                        <td>
                            @Html.ActionLink("Delete", "DeleteItem", "Item", new { id = item.ItemID }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you wish to delete this item?');" })
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

