<!DOCTYPE html>
<html style="background-color:darkslategrey">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:darkslategrey;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kingdom Hearts", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color:darkslategray; color:white; margin-top:10px">
                                Enemies
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Enemies", "Index", "Enemy")
                                </li>
                                <li>

                                    @if (!(Session["RoleName"] is null))
                                    {
                                        @Html.ActionLink("Create Enemy", "NewEnemy", "Enemy")
                                    }
                                </li>
                                <li>
                                    @if (!(Session["RoleName"] is null) && (Session["RoleName"].ToString() == "Mod" || Session["RoleName"].ToString() == "Admin"))
                                    {
                                        @Html.ActionLink("Validate Enemies", "ViewUnvalidatedEnemy", "Enemy")
                                    }
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color:darkslategray; color:white; margin-top:10px">
                                Items
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Items", "Index", "Item")
                                </li>
                                <li>

                                    @if (!(Session["RoleName"] is null))
                                    {
                                        @Html.ActionLink("Create Item", "CreateItem", "Item")
                                    }
                                </li>
                                <li>
                                    @if (!(Session["RoleName"] is null) && (Session["RoleName"].ToString() == "Mod" || Session["RoleName"].ToString() == "Admin"))
                                    {
                                        @Html.ActionLink("Validate Items", "ViewUnvalidatedItems", "Item")
                                    }
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        @if (!(Session["RoleName"] is null) && (int)Session["Role"] > 1)
                        {
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color:darkslategray; color:white; margin-top:10px">
                                    @if (Session["RoleName"].ToString() == "Admin")
                                    {
                                        <text> Admin </text>
                                    }
                                    else
                                    {
                                        <text> Mod </text>
                                    }
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("View Users", "Index", "Account")
                                    </li>
                                </ul>
                            </div>
                        }
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (!(Session["UserName"] is null))
                    {
                        <li>
                            @Html.ActionLink(Session["UserName"].ToString(), "AccountView", "Account")
                        </li>
                        <li>
                            <div style="margin-top:15px">
                                <text class="text-muted"><b>@Session["RoleName"].ToString()</b></text>
                            </div>
                        </li>
                        <li>
                            @Html.ActionLink("Logout", "Logout", "Account")
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Login", "Login", "Account")
                        </li>
                        <li>
                            @Html.ActionLink("Register", "Register", "Account")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div>
        <br />
        <footer style="color:white;">
            <p>&copy; @DateTime.Now.Year - Kingdom Hearts 1.5 Final Mix</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
