<!DOCTYPE html>
<html style="background-color:darkslategrey">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:darkslategrey;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                </button>
                @Html.ActionLink("Kingdom Hearts", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink(" ", "Index", "Home", new { }, new { @class = "glyphicon glyphicon-home" })
                    </li>
                    <li>
                        @Html.ActionLink("Stats", "Index", "Stats", new { }, new { @class = "nvButton btn" })
                    </li>
                    <li style="margin-right:5px;">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color:darkslategray; color:white; margin-top:10px">
                                Enemies
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="padding-left:10px; width:200px;">
                                <li>
                                    <span class="glyphicon">
                                        @Html.ActionLink("Enemies", "Index", "Enemy")
                                    </span>
                                </li>
                                @if (!(Session["RoleName"] is null))
                                {
                                    <li>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <span class="glyphicon glyphicon-pencil">
                                                </span>
                                            </div>
                                            <div class="col-md-10">
                                                @Html.ActionLink("Create Enemy", "NewEnemy", "Enemy", null, new { @class = "", style = "font-size:18px;" })
                                            </div>
                                        </div>
                                    </li>
                                }
                                @if (!(Session["RoleName"] is null) && (Session["RoleName"].ToString() == "Mod" || Session["RoleName"].ToString() == "Admin"))
                                {
                                    <li>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <span class="glyphicon glyphicon-check">
                                                </span>
                                            </div>
                                            <div class="col-md-10">
                                                @Html.ActionLink("Validate Enemies", "ViewUnvalidatedEnemy", "Enemy", null, new { @style = "font-size:18px;" })
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                    <li style="margin-right:5px;">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color:darkslategray; color:white; margin-top:10px">
                                Items
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Items", "Index", "Item")
                                </li>
                                <li>

                                    @if (!(Session["RoleName"] is null))
                                    {
                                        @Html.ActionLink("Create Item", "CreateItem", "Item")
                                    }
                                </li>
                                <li>
                                    @if (!(Session["RoleName"] is null) && (Session["RoleName"].ToString() == "Mod" || Session["RoleName"].ToString() == "Admin"))
                                    {
                                        @Html.ActionLink("Validate Items", "ViewUnvalidatedItems", "Item")
                                    }
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        @if (!(Session["RoleName"] is null) && (int)Session["Role"] > 1)
                        {
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color:darkslategray; color:white; margin-top:10px">
                                    @if (Session["RoleName"].ToString() == "Admin")
                                    {
                                        <text> Admin </text>
                                    }
                                    else
                                    {
                                        <text> Mod </text>
                                    }
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("View Users", "Index", "Account")
                                    </li>
                                </ul>
                            </div>
                        }
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (!(Session["UserName"] is null))
                    {
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color:darkslategray; color:white; margin-top:10px">
                                    @Session["UserName"].ToString()
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        @if (Session["RoleName"].ToString() != "Admin")
                                        {
                                            @Html.ActionLink(" " + Session["UserName"].ToString(), "AccountView", "Account", new { }, new { @class = "glyphicon glyphicon-user" })

                                        }
                                        else
                                        {
                                            <span class="glyphicon glyphicon-king">
                                                @Html.ActionLink(Session["UserName"].ToString(), "AccountView", "Account")
                                            </span>
                                        }
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-remove-sign">
                                            @Html.ActionLink("Logout", "Logout", "Account")
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li style="color:gray;">

                            @Html.ActionLink(Session["RoleName"].ToString(), "", "", new { @style = "color: gray;" })

                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink(" Login", "Login", "Account", new { }, new { @class = "glyphicon glyphicon-user" })
                        </li>
                        <li>
                            @Html.ActionLink(" Register", "Register", "Account", new { }, new { @class = "glyphicon glyphicon-queen" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div>
        <br />
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div>
        <br />
        <footer style="color:white;">
            <p>&copy; @DateTime.Now.Year - Kingdom Hearts 1.5 Final Mix</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
