@using KH_Capstone.Models
@model EnemyPO
@{
    ViewBag.Title = "NewEnemy";
}

<h2>New enemy information</h2>

@using (Html.BeginForm("NewEnemy", "Enemy", FormMethod.Post))
{
    @Html.LabelFor(model => Model.Name)
    <div>
        @Html.TextBoxFor(model => Model.Name, new { @class = "form-control" })
    </div>
    @Html.LabelFor(model => Model.Location)
    <div>
        @Html.TextBoxFor(model => Model.Location, new { @class = "form-control" })
    </div>
    @Html.LabelFor(model => Model.Description)
    <div>
        @Html.TextBoxFor(model => Model.Description, new { @class = "form-control" })
    </div>
    <br />
    <input type="submit" value="Create" class="btn btn-success"/>
}

