@using KH_Capstone.Models
@model EnemyPO
@{
    ViewBag.Title = "UpdateEnemy";
}

<h2>Update @Model.Name</h2>


@using (Html.BeginForm("UpdateEnemy", "Enemy", FormMethod.Post))
{
    @Html.HiddenFor(model => Model.EnemyID)

    @Html.LabelFor(model => Model.Name)
    <div>
        @Html.TextBoxFor(model => Model.Name, new { @class = "form-control" })
    </div>
    @Html.LabelFor(model => Model.Location)
    <div>
        @Html.TextBoxFor(model => Model.Location, new { @class = "form-control" })
    </div>
    @Html.LabelFor(model => Model.Description)
    <div>
        @Html.TextBoxFor(model => Model.Description, new { @class = "form-control" })
    </div>
    @Html.LabelFor(model => Model.ImagePath)
    <div>
        @Html.TextBoxFor(model => Model.ImagePath, new { @class = "form-control" })
    </div>
    @Html.LabelFor(model => Model.Validated)
    <div>
        @Html.TextBoxFor(model => Model.Validated, new { @class = "form-control" })
    </div>
    <br />
    <input type="submit" value="Submit" class="btn btn-primary" />
}
