@using KH_Capstone.Models
@model EnemyUpdateVM
@{
    ViewBag.Title = "UpdateEnemy";
}

<h2>Update @Model.Enemy.Name</h2>

<img src="@Url.Content(Model.Enemy.ImagePath)" alt="@Model.Enemy.Name" height="150" width="150" />

@using (Html.BeginForm("UpdateEnemy", "Enemy", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => Model.Enemy.EnemyID)
    @Html.HiddenFor(model => Model.Enemy.ImagePath)

    @Html.LabelFor(model => Model.Enemy.Name)
    <div>
        @Html.TextBoxFor(model => Model.Enemy.Name, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => Model.Enemy.Location)
    <div>
        @Html.TextBoxFor(model => Model.Enemy.Location, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => Model.Enemy.Description)
    <div>
        @Html.TextBoxFor(model => Model.Enemy.Description, new { @class = "form-control" })
    </div>
    

    @Html.LabelFor(model => Model.Item1)
    <div>
        @Html.DropDownListFor(model => Model.Item1, new SelectList(Model.itemList, "ItemID", "Name"), new { @style = "background-color:orange; color:black;" })
    </div>

    @Html.LabelFor(model => Model.Item2)
    <div>
        @Html.DropDownListFor(model => Model.Item2, new SelectList(Model.itemList, "ItemID", "Name"), new { @style = "background-color:orange; color:black;" })
    </div>

    <text>Image</text>
    @Html.TextBoxFor(model => Model.File, new { type = "file" })


    @Html.LabelFor(model => Model.Enemy.Validated)
    <div>
        @Html.CheckBoxFor(model => Model.Enemy.Validated, new { @class = "form-control" })
    </div>


    <br />

    <input type="submit" value="Submit" class="btn btn-primary" />
}
