@using KH_Capstone.Models
@model List<EnemyPO>
@{
    ViewBag.Title = "Index";
}

<h2 style="color:white;">Enemy List</h2>
<table class="table">
    <tbody style="background-color: cadetblue; color: lightcyan;">
        @foreach (EnemyPO enemy in Model)
        {
            if (enemy.Validated == false)
            {
                <tr>
                    <td rowspan="2" width="150px">
                        <img src="@Url.Content(enemy.ImagePath)" alt="@enemy.Name" height="150" width="150" />
                    </td>
                    <td>
                        <text style="color:black;">Name: </text><u>@enemy.Name</u>
                    </td>
                    <td>
                        <text style="color:black;">World: </text>@enemy.Location
                    </td>
                    @if (!(Session["RoleName"] is null) && (Session["RoleName"].ToString() == "Mod" || Session["RoleName"].ToString() == "Admin"))
                    {
                        <td style="text-align:right;">
                            @Html.ActionLink("Update", "UpdateEnemy", "Enemy", new { id = enemy.EnemyID }, new { @class = "btn btn-success" })
                        </td>
                    }
                </tr>
                <tr>
                    @if (!(Session["RoleName"] is null) && (Session["RoleName"].ToString() == "Admin"))
                    {
                        <td colspan="2">
                            <text style="color:black;">Description: </text>
                            @enemy.Description
                        </td>
                        <td style="text-align:right;">
                            @Html.ActionLink("Delete", "DeleteEnemy", "Enemy", new { id = enemy.EnemyID }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you wish to delete this enemy?');" })
                        </td>
                    }
                    else
                    {
                        <td colspan="3">
                            <text style="color:black;">Description: </text>
                            @enemy.Description
                        </td>
                    }
                </tr>
                <tr><td colspan="4" style="background-color:darkslategray"></td></tr>
            }
        }
    </tbody>
</table>