@using KH_Capstone.Models
@model UpdatePasswordVM
@{
    ViewBag.Title = "UpdatePassword";
}

<h2>Update @Session["UserName"]'s Password</h2>

@using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post))
{
    <span class = "col-xs-4 col-sm-4 control-label">Password</span>
    <div>
        @Html.PasswordFor(model => Model.OldPassword, new { @class = "form-control" })
        <span style="color:red;">
            @Html.ValidationMessageFor(model => Model.OldPassword)
        </span>
    </div>
    <br />

    @Html.LabelFor(model => Model.NewPassword, new { @class = "col-xs-4 col-sm-4 control-label" })
    <div>
        @Html.PasswordFor(model => Model.NewPassword, new { @class = "form-control" })
        <span style="color:red;">
            @Html.ValidationMessageFor(model => Model.NewPassword)
        </span>
    </div>
    <br />

    @Html.LabelFor(model => Model.PasswordConfirmation, new { @class = "col-xs-4 col-sm-4 control-label" })
    <div>
        @Html.PasswordFor(model => Model.PasswordConfirmation, new { @class = "form-control" })
        <span style="color:red;">
            @Html.ValidationMessageFor(model => Model.PasswordConfirmation)
        </span>
    </div>
    <br />

    <input type="submit" value="Submit" class="btn btn-success" />
}

