@using KH_Capstone.Models
@model UserPO
@{
    ViewBag.Title = "UpdatePassword";
}

<h2>Update @Model.UserName's Password</h2>

@using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post))
{
    @Html.HiddenFor(model => Model.UserID)
    @Html.HiddenFor(model => Model.UserName)
    @Html.HiddenFor(model => Model.Role)
    @Html.HiddenFor(model => Model.RoleName)
    @Html.HiddenFor(model => Model.FirstName)
    @Html.HiddenFor(model => Model.LastName)
    @Html.HiddenFor(model => Model.Banned)
    @Html.HiddenFor(model => Model.Inactive)
    @Html.HiddenFor(model => Model.Password)

    if (Session["UserName"].ToString() == Model.UserName)
    {
        @Html.LabelFor(model => Model.Password, new { @class = "col-md-4 col-sm-4 control-label" })
        <div>
            @Html.TextBoxFor(model => Model.NewPassword, new { @class = "form-control" })
        </div>
        <br />

        @Html.LabelFor(model => Model.PasswordConfirmation, new { @class = "col-md-4 col-sm-4 control-label" })
        <div>
            @Html.TextBoxFor(model => Model.PasswordConfirmation, new { @class = "form-control" })
        </div>
        <br />
    }

    <input type="submit"value="Submit" class="btn btn-success"/>
}

