@using KH_Capstone.Models
@model UserUpdateVM
@{
    /**/

    ViewBag.Title = "UpdateUser";
}

<h2>@Model.User.UserName</h2>

@using (Html.BeginForm("UpdateUser", "Account", FormMethod.Post))
{
    @Html.HiddenFor(model => Model.User.UserName)
    @Html.HiddenFor(model => Model.User.Password)
    @Html.HiddenFor(model => Model.User.Salt)
    @Html.HiddenFor(model => Model.User.RoleName)
    @Html.HiddenFor(model => Model.User.UserID)


    @Html.LabelFor(model => Model.User.FirstName, new { @class = "col-sm-4 col-xs-4 control-label" })
    <div>
        @Html.TextBoxFor(model => Model.User.FirstName, new { @class = "form-control" })
    </div>
    <br />

    @Html.LabelFor(model => Model.User.LastName, new { @class = "col-sm-4 col-xs-4 control-label" })
    <div>
        @Html.TextBoxFor(model => Model.User.LastName, new { @class = "form-control" })
    </div>
    <br />

    if (Session["RoleName"].ToString() == "Admin")
    {
        foreach (RolePO role in Model.Roles)
        {
            if ((int)Session["Role"] >= role.RoleID)
            {
                <label>@role.RoleName</label>
                @Html.RadioButtonFor(model => Model.User.Role, role.RoleID)
            }
        }

        <br />
    }
    else
    {
        @Html.HiddenFor(model => Model.User.Role)
    }

    if (Session["RoleName"].ToString() == "Admin")
    {
        <div>
            @Html.LabelFor(model => Model.User.Banned)
            @Html.CheckBoxFor(model => Model.User.Banned, new { style = "height:20px; width:20px; margin-left:35px;" })
        </div>
    }
    <br />
    <input type="submit" value="Update" class="btn btn-success" />
}

